# Import thư viện

In [1]:
import pandas as pd
import numpy as np

# Đọc file csv

In [2]:
def check_size(df):
    return df.shape

In [3]:
missing_values = ["n/a", "na", "--"]

In [4]:
data  =  pd.read_csv('2017.csv', na_values= missing_values)

In [5]:
check_size(data)

(2203, 15)

### Các trường dữ liệu

In [6]:
data.columns

Index(['Reference Number', 'Grid Ref: Easting', 'Grid Ref: Northing',
       'Number of Vehicles', 'Accident Date', 'Time (24hr)',
       '1st Road Class & No', 'Road Surface', 'Lighting Conditions',
       'Weather Conditions', 'Type of Vehicle', 'Casualty Class',
       'Casualty Severity', 'Sex of Casualty', 'Age of Casualty'],
      dtype='object')

In [7]:
data.dtypes

Reference Number       object
Grid Ref: Easting       int64
Grid Ref: Northing      int64
Number of Vehicles      int64
Accident Date          object
Time (24hr)             int64
1st Road Class & No    object
Road Surface           object
Lighting Conditions    object
Weather Conditions     object
Type of Vehicle        object
Casualty Class         object
Casualty Severity      object
Sex of Casualty        object
Age of Casualty         int64
dtype: object

###  Xem các giá trị của từng trường

In [8]:
data["Road Surface"].unique()

array(['Dry', 'Wet/Damp', 'Frost/Ice', 'Snow'], dtype=object)

In [9]:
data["Lighting Conditions"].unique()

array(['Daylight: Street lights present',
       'Darkness: Street lights present and lit',
       'Darkness: No street lighting',
       'Darkness: Street lighting unknown',
       'Darkness: Street lights present but unlit',
       'Darkness: Street lights present and lit and lit', nan],
      dtype=object)

In [10]:
data["Type of Vehicle"].unique()

array(['Car', 'Pedal cycle',
       'Motorcycle 12Motorcycle over 500cccc to Motorcycle over 500cc00cc',
       'Motorcycle Motorcycle over 500cc0cc and under',
       'Taxi/Private hire car', 'Car0', 'Pedal cyclePedal cycle',
       'Motorcycle Motorcycle over 500cc0cc to 12Motorcycle over 500cccc',
       'Pedal cycleCar',
       'Motorcycle Motorcycle over 500cc0cc and underPedal cycle',
       'Motorcycle Motorcycle over 500cc0cc and under0',
       'Motorcycle over 500cc', 'Car7', 'Pedal cycle0',
       'CarTaxi/Private hire car',
       'Motorcycle Motorcycle over 500cc0cc and underMotorcycle Motorcycle over 500cc0cc and under'],
      dtype=object)

In [11]:
data["Weather Conditions"].unique()

array(['Other', 'Fine without high winds', 'Raining without high winds',
       'Fine with high winds', 'Fog or mist (if hazard)',
       'Raining with high winds', 'Snowing with high winds',
       'Snowing without high winds'], dtype=object)

In [12]:
data["Casualty Class"].unique()

array(['Pedestrian', 'Driver or rider', 'Vehicle or pillion passenger'],
      dtype=object)

In [13]:
data["Casualty Severity"].unique()

array(['Serious', 'Slight', 'Fatal'], dtype=object)

### Kiểm tra giá trị null

In [14]:
list_col = data.columns
list_col

Index(['Reference Number', 'Grid Ref: Easting', 'Grid Ref: Northing',
       'Number of Vehicles', 'Accident Date', 'Time (24hr)',
       '1st Road Class & No', 'Road Surface', 'Lighting Conditions',
       'Weather Conditions', 'Type of Vehicle', 'Casualty Class',
       'Casualty Severity', 'Sex of Casualty', 'Age of Casualty'],
      dtype='object')

In [15]:
# def check_null(data, lista):
#     print(len(lista))
#     for i in range(0, len(lista)):
#         print(lista[i]+": "+ str(data[lista[i]].isnull().any()))

In [16]:
# check_null(data, list_col)

In [17]:
data.isnull().sum()

Reference Number       0
Grid Ref: Easting      0
Grid Ref: Northing     0
Number of Vehicles     0
Accident Date          0
Time (24hr)            0
1st Road Class & No    0
Road Surface           0
Lighting Conditions    1
Weather Conditions     0
Type of Vehicle        0
Casualty Class         0
Casualty Severity      0
Sex of Casualty        0
Age of Casualty        0
dtype: int64

In [18]:
data = data.dropna()

In [19]:
check_size(data)

(2202, 15)

In [20]:
# def check_duplicate(data, lista):
#     print(len(lista))
#     for i in range(0, len(lista)):
#         print(lista[i]+": "+ str(data[lista[i]].isnull().any()))

In [21]:
data.duplicated().any()

True

In [22]:
data.duplicated().sum()

15

In [23]:
data = data.drop_duplicates()

In [24]:
check_size(data)

(2187, 15)

### Biến đổi dữ liệu

#### Biến đổi trên trường giới tính

In [25]:
data['Sex of Casualty'].unique()

array(['Female', 'Male', '1'], dtype=object)

In [26]:
# Detecting numbers 
cnt=0
for row in data['Sex of Casualty']:
#     print(cnt)
#     print(row)
    if(row.isdigit()):
        print(cnt)
        print(row)
        data.loc[cnt, 'Sex of Casualty']= np.nan
    cnt+=1

2186
1

In [27]:
check_size(data)

(2187, 15)

In [28]:
data = data.dropna()

In [29]:
data['Gender'] = data['Sex of Casualty'].map({'Female': 2, 'Male': 1})

In [30]:
# data.head()

####  Biến đổi trên trường ngày

In [31]:
from datetime import datetime as dt

In [32]:
data['Accident Date'] = pd.to_datetime(data['Accident Date'], infer_datetime_format=True)
data['Year'], data['Month'], data['Day'] = data['Accident Date'].dt.year\
, data['Accident Date'].dt.month, data['Accident Date'].dt.day
# data.head()

In [33]:
data["TypeRoad"]= data["1st Road Class & No"].str[0] 
data["TypeRoad"] = data["TypeRoad"].map({'M': 'Motorway', 'A': 'A', 'B':'B', 'C':'C', 'U': 'Unclassified'})

In [34]:
data.head()

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,Type of Vehicle,Casualty Class,Casualty Severity,Sex of Casualty,Age of Casualty,Gender,Year,Month,Day,TypeRoad
0,3AP0313,426340,428455,1,2017-03-17,815,A643,Dry,Daylight: Street lights present,Other,Car,Pedestrian,Serious,Female,61,2.0,2017,3,17,A
1,3BE0850,430828,433222,2,2017-01-14,1330,A61,Dry,Daylight: Street lights present,Fine without high winds,Pedal cycle,Driver or rider,Slight,Male,36,1.0,2017,1,14,A
2,4110858,428940,429856,2,2017-01-01,805,A653,Wet/Damp,Daylight: Street lights present,Fine without high winds,Car,Driver or rider,Slight,Male,32,1.0,2017,1,1,A
3,4110858,428940,429856,2,2017-01-01,805,A653,Wet/Damp,Daylight: Street lights present,Fine without high winds,Car,Driver or rider,Slight,Male,30,1.0,2017,1,1,A
4,4111495,429899,434277,2,2017-01-01,1705,U,Wet/Damp,Darkness: Street lights present and lit,Raining without high winds,Car,Vehicle or pillion passenger,Slight,Female,26,2.0,2017,1,1,Unclassified

####  Biến đổi trên trường time

In [35]:
data['Time (24hr)'] = data['Time (24hr)'].astype(str)
data['Time (24hr)'] = data['Time (24hr)'].str.zfill(4)

In [36]:
data["Hour"]= data["Time (24hr)"].str[:2]
data["Minute"] = data["Time (24hr)"].str[-2:]

In [37]:
data['Hour'].max()

'23'

In [38]:
data['Minute'].max()

'59'

In [39]:
data.head()

,Reference Number,Grid Ref: Easting,Grid Ref: Northing,Number of Vehicles,Accident Date,Time (24hr),1st Road Class & No,Road Surface,Lighting Conditions,Weather Conditions,...,Casualty Severity,Sex of Casualty,Age of Casualty,Gender,Year,Month,Day,TypeRoad,Hour,Minute
0,3AP0313,426340,428455,1,2017-03-17,0815,A643,Dry,Daylight: Street lights present,Other,...,Serious,Female,61,2.0,2017,3,17,A,08,15
1,3BE0850,430828,433222,2,2017-01-14,1330,A61,Dry,Daylight: Street lights present,Fine without high winds,...,Slight,Male,36,1.0,2017,1,14,A,13,30
2,4110858,428940,429856,2,2017-01-01,0805,A653,Wet/Damp,Daylight: Street lights present,Fine without high winds,...,Slight,Male,32,1.0,2017,1,1,A,08,05
3,4110858,428940,429856,2,2017-01-01,0805,A653,Wet/Damp,Daylight: Street lights present,Fine without high winds,...,Slight,Male,30,1.0,2017,1,1,A,08,05
4,4111495,429899,434277,2,2017-01-01,1705,U,Wet/Damp,Darkness: Street lights present and lit,Raining without high winds,...,Slight,Female,26,2.0,2017,1,1,Unclassified,17,05

In [40]:
data.to_csv("data_cleaned.csv")